<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="p-6">
  <div class="max-w-6xl m-auto flex flex-col sm:flex-row gap-4 sm:gap-0 justify-between items-center">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}"  class="h-10" />
      {{#if settings.show_brand_name}}
        <span aria-hidden="true" class="hidden">{{help_center.name}}</span>
      {{/if}}
    {{/link}}
    <div class="hidden sm:flex items-center gap-4">
      <div class="border rounded-lg p-2 text-xs">{{settings.dial_text}}</div>
      <div>
        <p class="text-xs mb-1">サスケサポートセンター</p>
        <img src="{{settings.dial_image}}">
      </div>
    </div>
  </div>

</header>
